.ucb-rails-users-table-header.clearfix
  %h2.pull-left
    Users
  .pull-right
    = link_to "Add new", new_admin_user_path(), class: "btn btn-primary"

%table.table.table-striped.table-bordered.table-hover.ucb-rails-users-table
  %thead
    %tr
      %th.min Superuser?
      %th.min Inactive?
      %th First Name
      %th Last Name
      %th Email
      %th.dt Last Login
      %th UID
      %th Employee ID
      %th.min Edit
      %th.min Delete
  %tbody.highlight
    = render partial: "ucb_rails_user/users/user", collection: @users


