.ucb-rails-users-table-header.clearfix
  %h1
    Users

.table-responsive
  %table.table.table-striped.table-bordered.table-hover.ucb-rails-users-table
    %thead
      %tr
        %th.min Superuser?
        %th.min Inactive?
        %th First Name
        %th Last Name
        %th Email
        %th.dt Last Login
        %th UID
        %th Employee ID
        %th.min.unsorted Edit
        %th.min.unsorted Delete
    %tbody.highlight
      = render partial: "ucb_rails_user/users/user", collection: @users


